* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Arial, sans-serif;
  max-height: 100vh;
  min-height: 100vh;
  align-items: center;
  padding-top: 70px;
  background-image: url('../img/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  height: 230px;
}

.image-container {
  overflow: hidden;
}

.desktop-image {
  height: 550px;
  overflow: hidden;
}

.mobile-image {
  display: none;
  transform: translateY(20px)
}

.coming-soon-text {
  color: white;
  font-weight: bold;
  font-size: 2.4rem;
  transform: translateY(-80px);
  text-transform: uppercase;
  letter-spacing: -2px;
}



@media screen and (max-width: 640px) {
  .logo {
    height: 170px;
    order: 1;
  }

  .image-container {
    order: 3;
    position: absolute;
    bottom: 10px
  }

  .coming-soon-text {
    order: 2;
    transform: translateY(0px);
    margin-top: 20px;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    width: 365px;
  }
}
